body {
    background: ;
    font-family: ;
  }
  
  h1 {
    color: ;
    text-align: center;
    font-size: ;
  }
  
  h2 {
    font-size: ;
    color: ;
  }
  
  h3 {
    font-size: ;
    color: ;
  }
  
  p {
    color: ;
    font-size: ;
  }
  
  img {
    
  }